env/
milestones/
.git/
src/data/
src/.idea/
src/util/training_checkpoints/
src/util/lstm_basic
*.mid
*.log
*.tflite
.idea/
*.pyc
src/models/lstm_autoencoder
src/models/training_checkpoints
*~
src/models/vae_port.py
src/examples/lstm_accompaniment
src/examples/training_checkpoints